@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/*ログアウト画面*/
.logout,
.register {
  background-color: #ecf1f6;
}

.Atlas-logo {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.container {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: #00000036 5px 5px 10px;
  ;
}

/* 新規登録 */
.register_form input,
.password_form input {
  margin-top: 3px;
  margin-bottom: 3px;
}

.old_year,
.old_month,
.old_day {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0d6efd
}

.ymd-unit {
  margin-right: 3px;
}

/* サイドバー */
.sidebar {
  width: 190px;
  min-height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.my-profile,
.users-profile {
  margin: 10px;
}

.user_status,
.reserve_detail_area {
  border-radius: 10px;
  background: #FFF;
  box-shadow: #00000036 5px 5px 10px;
}

/* スクール予約関連 */
.calender {
  box-shadow: #00000036 3px 3px 10px;
}

.calender_outline {
  width: 90%;
}

.calender table {
  margin-bottom: 0;
}

.calender p {
  margin-bottom: 0;
}

.week_border {
  border: 1px solid #dee2e6;
}

.day-blank {
  background: #D3D3D3;
}

.past-day-no {
  color: #777777;
}

.day-sat,
.past-day .day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td .day {
  margin-bottom: 1rem;
}

.calendar-td {
  min-width: 100px;
  border: 1px solid #dee2e6;
}

.day_part {
  color: #494949;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}

.adjust-table {
  width: 90% !important;
}

.adjust-table p {
  margin: 10px 0 0 0;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.frame-text {
  text-align: center;
}

.adjust-table-btn {
  width: 90%;
  margin: auto;
}

.reserve_detail_area .list {
  background-color: #09a9d2;
  color: #FFF;
}

.reserve-row td {
  height: 40px;
}

.reserve-row:nth-child(even) {
  background-color: #FFF;
}

.reserve-row:nth-child(odd) {
  background-color: #e5f6fa;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.post_create_area p,
.category_area p {
  color: #666666;
}

.post_form {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 0 3px;
}

/* .post_form::placeholder {
  color: #666666;
} */

.other_area span {
  color: #555555;
}

.other_area .post_btn {
  background: #09a9d2;
  border-radius: 10px;
}

.other_area .post_btn a {
  color: #FFF;
  text-decoration: none;
  display: block;
}

.other_area .keyword_search {
  border-radius: 10px;
  background: transparent;
}

.other_area .keyword_search_btn {
  background: #09a9d2;
  border-radius: 10px;
  color: #FFF;
}

.other_area .like_post_btn {
  background: #e38eab;
  color: #FFF;
  border-radius: 10px;
}

.other_area .my_post_btn {
  background: #ebbc5d;
  color: #FFF;
  border-radius: 10px;
}

.sub_categories_tag {
  color: #FFF;
  background: #03AAD2;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
  border-radius: 10px;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
  margin-top: 20px;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
  border-radius: 10px;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_post_btn {
  display: flex;
  flex-direction: row-reverse;
}

.comment_container span {
  font-size: 12px;
}

.post_status {
  color: #999;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  color: #666666;
}

.sub_categories input {
  width: 75%;
  background-color: transparent;
  border: none;
  margin-left: 5%;
  margin-top: 5%;
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
  color: #666666;
}

/* ボタングループ */
.btns-group input {
  width: 49%;
  text-align: center;
}

/* カテゴリー検索 */
.accordion {
  margin-inline: auto;
  /* margin-top: 30px; */
  max-width: 300px;
  position: relative;
  width: 100%;
}

.accordion-title {
  color: #494949;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 0;
}

/* .accordion-content {
  display: none;
  padding: 10px 20px;
}

.accordion-content p {
  font-size: 13px;
  line-height: 1.5;
} */

.accordion-title {
  position: relative;
  align-items: center;
  border-bottom: 1px solid #CCCCCC
}

.is-close {
  display: none;
}

.accordion-title::after {
  border-right: solid 2px #494949;
  border-top: solid 2px #494949;
  content: "";
  display: block;
  height: 8px;
  position: relative;
  /* right: 25px;
  top: 38%; */
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}

.accordion-title.open::after {
  top: 45%;
  transform: rotate(-45deg);
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  /* gap: 10px; */
  margin: 10px auto;
  /* height: 80vh; */
  overflow: scroll;
  padding: 10px 30px;
  /* background: #FFF; */
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 220px;
  height: 250px;
  border-radius: 10px;
  box-shadow: #00000036 2px 5px 5px;
  background-color: #FFF;
  padding: 15px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.search_area h5 {
  color: #555555;
}

.search_area label {
  color: #555555;
  margin-top: 10px;
  margin-bottom: 0;
}

.search_area .free_word {
  background: #e0e5e9;
  border-radius: 10px;
  height: 45px;
  border: none;
  width: 85%;
  padding: 3px;
  font-size: 1rem;
}

.search_area select {
  background: #e0e5e9;
  border-radius: 10px;
  height: 35px;
  border: none;
  width: 30%;
  margin-top: 5px;
  padding: 3px;
  font-size: 1rem;
}

.search_conditions {
  position: relative;
  border-bottom: 1px solid #CCCCCC;
}

.search_conditions::after {
  border-right: solid 2px #494949;
  border-top: solid 2px #494949;
  content: "";
  display: inline-block;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 30%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}

.search_conditions.open::after,
.subject_edit_btn.open::after {
  top: 45%;
  transform: rotate(-45deg);
}

.search_conditions span {
  cursor: pointer;
  color: #555555;
}

.search_conditions_inner {
  display: none;
  /* background: #FFF; */
}

.search_conditions_inner input {
  margin-right: 20px;
}

.subject_edit {
  margin-right: 10px;
  align-content: center;
}

.subject_edit label {
  margin-bottom: 0;
}

.subject_edit_btn {
  font-size: 15px;
  color: #03AAD2;
  cursor: pointer;
  position: relative;
}

.subject_edit_btn::after {
  border-right: solid 2px #03AAD2;
  border-top: solid 2px #03AAD2;
  content: "";
  display: inline-block;
  height: 8px;
  position: absolute;
  right: -13px;
  top: 25%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}

.subject_inner {
  display: none;
}

.selected_engineer input {
  margin-right: 20px;
}

.search_area .search_btn {
  background: #09a9d2;
  color: #FFF;
  width: 80%;
}

.search_area .reset_btn {
  background: transparent;
  border: none;
  color: #09a9d2;
}

/* ユーザープロフィール */
